/* Justin Blackburn
    Jan 14, 2025
    Project 1b */

/*Center button on page */
#table-div button{
    margin: auto;
    display: block;
}

/*Set table top text to white  */
.table-top{
    color: white;
}

/*Center table on page */
#table-1 {
    margin-left: auto;
    margin-right: auto;
}

/*Center table on page */
#table-2 {
    margin-left: auto;
    margin-right: auto;
}

/*center the input result box*/
input {
    margin: auto;
    display: block;
}

/*Resize image */
.oneb-index-image {
    width: 450px;
    height: 300px;
}